$ocean: hsl(175, 100%, 40%);
$sand:  hsl(52, 99%, 99%);
$rose:  hsl(345, 69%, 46%);

html, body {
  background-color: $sand;
  font-family: 'Lato', serif;
}

a {
  text-decoration: none !important;
  color: $rose;
  &:hover {
    color: $rose;
  }
}

code {
  box-shadow: $rose 0 1.5px 0 0;
}

header {
  background-color: $ocean;
  color: $sand;
  margin: auto 0;
  box-shadow: darken($ocean, 10) 0 3px 0 0;
  padding: 25px;
  .center-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
      text-shadow: 1px 1px darken($ocean, 10);
    }
  }
}

.ReactTabs__Tab--selected {
  background-color: $sand !important;
}

.react-tabs [role=tab][aria-selected=true] {
  border: 2px solid darken($ocean, 10);
  border-bottom: none;
  color: darken($ocean, 10);
}

.react-tabs [role=tablist] {
  border-bottom: 2px solid darken($ocean, 10);
}

.react-tabs [role=tab] {
  padding: 12px 24px;
  bottom: -1.5px;
  text-shadow: 0.5px 0.5px white;
}

.react-tabs [role=tabpanel] {
  padding: 7px 28px;
}

.table-hover tbody tr:hover {
  background-color: $ocean !important;
  color: $sand;
}

table.table-responsive.table-hover {
  border-color: $ocean;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-color: $ocean;
}
